@use "../../partials/variables.scss" as *;

.size-button {
  border: none;
  font-weight: 700;
  color: $black;
  background-color: $light-grey;
  padding: 10px;
  min-width: 3rem;
  border-radius: 5px;

  &:hover {
    background-color: $light-grey-hover;
    cursor: pointer;
  }

  &--add-button {
    color: white;
    background-color: $dark-grey;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 100%;
    &:hover {
      background-color: $dark-grey-hover;
    }
  }
}
