@use "../../partials/variables.scss" as *;
@use "../../partials/mixins.scss" as *;

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: $bej;

  &__left {
    display: flex;
    align-items: center;
    margin-left: 4vw;
    width: 50%;
  }
  &__logo-link {
    text-decoration: none;
    color: $black;

    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.1);
      color: $black-hover;
    }
  }

  &__logo {
    font-size: 1.2rem;
    @include s-laptop {
      font-size: 2rem;
    }
  }
  &__right {
    display: flex;
    @include s-laptop {
      gap: 3vw;
      margin-right: 4vw;
    }
  }
}
