@font-face {
  font-family: "dmSans";
  src: url("/src/assets/fonts/DMSans_18pt-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "dmSans";
  src: url("/src/assets/fonts/DMSans_18pt-Medium.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "dmSans";
  src: url("/src/assets/fonts/DMSans_18pt-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "dmSans";
  src: url("/src/assets/fonts/DMSans_18pt-Light.ttf");
  font-weight: 300;
}
