/*
* Colors
*/

// Primary Colors
$bej: #e7dfc6;
$black: #173030;
$black-hover: #2f4f4f;
$light-grey: #eaeaea;
$light-grey-hover: #e4e0e0;
$dark-grey: #979797;
$dark-grey-hover: #b1b0b0;

/*
* Font Sizes
*/

/*
* Break-points
*/
$mobile-breakpoint: 375px;
$tablet-breakpoint: 750px;
$small-laptop-breakpoint: 1000px;
